In [ ]:
import numpy as pi
import matplotlib.pyplot as plt
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
data=pd.read_csv("/content/GroceryStoreDataSet.csv")

In [ ]:
data

                MILK,BREAD,BISCUIT
0    BREAD,MILK,BISCUIT,CORNFLAKES
1              BREAD,TEA,BOURNVITA
2             JAM,MAGGI,BREAD,MILK
3                MAGGI,TEA,BISCUIT
4              BREAD,TEA,BOURNVITA
5             MAGGI,TEA,CORNFLAKES
6          MAGGI,BREAD,TEA,BISCUIT
7              JAM,MAGGI,BREAD,TEA
8                       BREAD,MILK
9   COFFEE,COCK,BISCUIT,CORNFLAKES
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11          COFFEE,SUGER,BOURNVITA
12               BREAD,COFFEE,COCK
13             BREAD,SUGER,BISCUIT
14         COFFEE,SUGER,CORNFLAKES
15           BREAD,SUGER,BOURNVITA
16              BREAD,COFFEE,SUGER
17              BREAD,COFFEE,SUGER
18      TEA,MILK,COFFEE,CORNFLAKES

In [ ]:
data.shape

(19, 1)

In [ ]:
data.shape
data.columns=['items']

In [ ]:
from mlxtend.preprocessing import TransactionEncoder 
# We can transform data into the right format via the TransactionEncoder

In [ ]:
# Via the fit method, the TransactionEncoder learns the unique labels in the dataset,
# and via the transform method, it transforms the input dataset 
#(a Python list of lists) into a one-hot encoded NumPy boolean array
transactions=[]
items=data['items'].values
print(items)

['BREAD,MILK,BISCUIT,CORNFLAKES' 'BREAD,TEA,BOURNVITA'
 'JAM,MAGGI,BREAD,MILK' 'MAGGI,TEA,BISCUIT' 'BREAD,TEA,BOURNVITA'
 'MAGGI,TEA,CORNFLAKES' 'MAGGI,BREAD,TEA,BISCUIT' 'JAM,MAGGI,BREAD,TEA'
 'BREAD,MILK' 'COFFEE,COCK,BISCUIT,CORNFLAKES'
 'COFFEE,COCK,BISCUIT,CORNFLAKES' 'COFFEE,SUGER,BOURNVITA'
 'BREAD,COFFEE,COCK' 'BREAD,SUGER,BISCUIT' 'COFFEE,SUGER,CORNFLAKES'
 'BREAD,SUGER,BOURNVITA' 'BREAD,COFFEE,SUGER' 'BREAD,COFFEE,SUGER'
 'TEA,MILK,COFFEE,CORNFLAKES']

In [ ]:
for i in range (0,len(items)):
    transactions.append(items[i].split(","))
    
print(transactions)

[['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'], ['BREAD', 'TEA', 'BOURNVITA'], ['JAM', 'MAGGI', 'BREAD', 'MILK'], ['MAGGI', 'TEA', 'BISCUIT'], ['BREAD', 'TEA', 'BOURNVITA'], ['MAGGI', 'TEA', 'CORNFLAKES'], ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'], ['JAM', 'MAGGI', 'BREAD', 'TEA'], ['BREAD', 'MILK'], ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'], ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'], ['COFFEE', 'SUGER', 'BOURNVITA'], ['BREAD', 'COFFEE', 'COCK'], ['BREAD', 'SUGER', 'BISCUIT'], ['COFFEE', 'SUGER', 'CORNFLAKES'], ['BREAD', 'SUGER', 'BOURNVITA'], ['BREAD', 'COFFEE', 'SUGER'], ['BREAD', 'COFFEE', 'SUGER'], ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [ ]:
encoder=TransactionEncoder()
tran=encoder.fit(transactions).transform(transactions)
print(tran)

[[ True False  True False False  True False False  True False False]
 [False  True  True False False False False False False False  True]
 [False False  True False False False  True  True  True False False]
 [ True False False False False False False  True False False  True]
 [False  True  True False False False False False False False  True]
 [False False False False False  True False  True False False  True]
 [ True False  True False False False False  True False False  True]
 [False False  True False False False  True  True False False  True]
 [False False  True False False False False False  True False False]
 [ True False False  True  True  True False False False False False]
 [ True False False  True  True  True False False False False False]
 [False  True False False  True False False False False  True False]
 [False False  True  True  True False False False False False False]
 [ True False  True False False False False False False  True False]
 [False False False False  True  True False False False  True False]
 [False  True  True False False False False False False  True False]
 [False False  True False  True False False False False  True False]
 [False False  True False  True False False False False  True False]
 [False False False False  True  True False False  True False  True]]

In [ ]:
encodedData=pd.DataFrame(data = tran, columns = encoder.columns_, dtype = int)
print(encodedData)

    BISCUIT  BOURNVITA  BREAD  COCK  COFFEE  CORNFLAKES  JAM  MAGGI  MILK  \
0         1          0      1     0       0           1    0      0     1
1         0          1      1     0       0           0    0      0     0
2         0          0      1     0       0           0    1      1     1
3         1          0      0     0       0           0    0      1     0
4         0          1      1     0       0           0    0      0     0
5         0          0      0     0       0           1    0      1     0
6         1          0      1     0       0           0    0      1     0
7         0          0      1     0       0           0    1      1     0
8         0          0      1     0       0           0    0      0     1
9         1          0      0     1       1           1    0      0     0
10        1          0      0     1       1           1    0      0     0
11        0          1      0     0       1           0    0      0     0
12        0          0      1     1       1           0    0      0     0
13        1          0      1     0       0           0    0      0     0
14        0          0      0     0       1           1    0      0     0
15        0          1      1     0       0           0    0      0     0
16        0          0      1     0       1           0    0      0     0
17        0          0      1     0       1           0    0      0     0
18        0          0      0     0       1           1    0      0     1

    SUGER  TEA
0       0    0
1       0    1
2       0    0
3       0    1
4       0    1
5       0    1
6       0    1
7       0    1
8       0    0
9       0    0
10      0    0
11      1    0
12      0    0
13      1    0
14      1    0
15      1    0
16      1    0
17      1    0
18      0    1

In [ ]:
encodedData.head(4)

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,1,0,1,0,0,1,0,0,1,0,0
1,0,1,1,0,0,0,0,0,0,0,1
2,0,0,1,0,0,0,1,1,1,0,0
3,1,0,0,0,0,0,0,1,0,0,1

In [ ]:
support=apriori(encodedData,min_support=0.2,use_colnames=True)
support.sort_values(by = 'support', ascending = False)
confidence = association_rules(support, metric = 'confidence', min_threshold = 0.3)
confidence.sort_values(by = 'confidence', ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
9,(MAGGI),(TEA),0.263158,0.368421,0.210526,0.800000,2.171429,0.113573,3.157895
0,(SUGER),(BREAD),0.315789,0.631579,0.210526,0.666667,1.055556,0.011080,1.105263
5,(CORNFLAKES),(COFFEE),0.315789,0.421053,0.210526,0.666667,1.583333,0.077562,1.736842
6,(SUGER),(COFFEE),0.315789,0.421053,0.210526,0.666667,1.583333,0.077562,1.736842
3,(TEA),(BREAD),0.368421,0.631579,0.210526,0.571429,0.904762,-0.022161,0.859649
8,(TEA),(MAGGI),0.368421,0.263158,0.210526,0.571429,2.171429,0.113573,1.719298
4,(COFFEE),(CORNFLAKES),0.421053,0.315789,0.210526,0.500000,1.583333,0.077562,1.368421
7,(COFFEE),(SUGER),0.421053,0.315789,0.210526,0.500000,1.583333,0.077562,1.368421
1,(BREAD),(SUGER),0.631579,0.315789,0.210526,0.333333,1.055556,0.011080,1.026316
2,(BREAD),(TEA),0.631579,0.368421,0.210526,0.333333,0.904762,-0.022161,0.947368